<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %>
    <%= f.select :author_id, options_from_collection_for_select(Author.sorted, "id", "name") %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :kicker %>
    <%= f.text_field :kicker %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, hidden: true %>
    <trix-editor input="article_body"></trix-editor>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
